:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    background: linear-gradient(to right top, rgba(123, 102, 161, 0.8), rgba(95, 171, 166, 0.5));
}

mat-card {
    width: 40%;
    border-radius: 10px;
}

mat-form-field {
    width: 100%;
}

mat-card-actions {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-card-title,
mat-card-content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

mat-card-title {
    font-size: 30px;
}

.form {
    width: 100%;
}

.secondHeader {
    padding-top: 10px;
    text-align: center;
}

.boldText {
    cursor: pointer;
    font-weight: bold;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 100%;
    height: 50px;
}
