<h1 mat-dialog-title>{{!todo.id ? 'Add Todo' : 'Edit Todo'}}</h1>
<div mat-dialog-content class="content">
    <form [formGroup]="form">
        <mat-label>Task</mat-label>
        <mat-form-field class="inputField" appearance="fill">
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-label>Description</mat-label>
        <mat-form-field class="inputField" appearance="fill">
            <textarea matInput formControlName="description"> </textarea>
        </mat-form-field>
    </form>

    <small *ngIf="todo.id" class="createdAtStyles">
        {{ 'Created at :- ' + (todo.createdAt | date: 'MMM d, y, h:mm:ss a')}}
    </small>

    <mat-error *ngIf="error">
        {{ error }}
    </mat-error>


</div>
<div class="buttonActions" mat-dialog-actions>
    <button class="cancel-button" mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
    <button class="save-button" mat-raised-button cdkFocusInitial color="primary"
        (click)="save(!todo.id ? 'Add' : 'Update')">Save</button>
</div>