<mat-toolbar color="primary" class="topNav">
    <mat-icon>
        account_circle
    </mat-icon>
    <div class="userContainer">
        <p class="headerText">{{loggedUser.first_name + ' '+ loggedUser.last_name}}</p>
        <!-- <p class="subHeader">Admin</p> -->
    </div>
    <span class="example-spacer">

    </span>
    <button mat-flat-button color="white" (click)="translate()"><mat-icon>language</mat-icon>Translate</button>
    <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>